// Desktop styles
@media (min-width: 1025px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .intro,
    .form {
      width: 45%;
    }

    .form {
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
      }

      label {
        margin-right: 0.5rem;
      }

      .category,
      .location {
        width: auto;
        margin-bottom: 0;
      }

      .search {
        margin: 0.5rem auto 0;
        width: auto;
        display: block;
      }
    }

    .result-container {
      margin-top: 2rem;
    }
  }
}
